*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
body{
    font-family: 'Arial';
    width: auto;
}
nav > .navigation {
    display: flex;
    width: 100%;
    justify-content: space-around;
    place-items: center;
    height: 60px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    box-shadow: 0 2px 5px rgb(177, 177, 177);
}
.navigation-btn >a > #signup-btn{
    background-color: rgb(31, 184, 0);
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 4px;
    color: #fff;
}
.navigation-btn > a > #signup-btn:hover{
    background-color: rgb(20, 119, 0);
    cursor: pointer;
}

.navigation-menu > a {

    margin: 0 0.5em; 
}

/* Header Section */

.header-background{
    background-color: rgb(138, 204, 123);
    height: 70vh;
    display: flex;
    justify-content: space-around;
    place-items: center;
    color: #000000;
    flex-wrap: wrap-reverse;

}

.header-main > a > button{
    margin-top: 1em;
    height: 45px;
    width: 150px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: #292929;
    border-radius: 5px;
}
.header-main > p {
    margin-top: 1em;
}

.header-main > a > button:hover{
    cursor: pointer;
    transition: all 0.30s ease;
    background-color: rgb(176, 223, 166);
    color: #fff;
}
.header-res > img {
    border-radius: 20px;
}
/* form section */
main {

    background-color: rgb(39, 39, 39);
    justify-items: center;
    align-items: center;
    width: auto;
    height: 25vh;
    color: rgb(255, 255, 255)
}
main > h3{
    padding-top: 2em;
}
.form-section > form{
    margin-top: 5vh;
}
.form-section >form > input{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: none;
}
#search-btn-form {
    height: 40px;
    width: 100px;
    border: 1px solid rgb(20, 119, 0);
    background: rgb(20, 119, 0);
    border-radius: 5px;
    color: #ffffff;
}
#search-btn-form:hover{
    background-color: rgb(139, 185, 130);
    cursor: pointer;
    transition: all 0.30s ease;
    color: #fff;
}

/* Buttons Group */
.group-of-buttons{
    display: flex;
    width: auto;
    justify-content: center;
    place-items: center;
    height: 10vh;
}
 .btn-click{
    margin: 0 1em;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: rgb(31, 184, 0);
    cursor: pointer;
    color: #fff;
}
.btn-click:hover{
    background-color: rgb(20, 119, 0);
    cursor: pointer;
    transition: all 0.30s ease;
}

/* Group Of Image */
#img-btn > img{
    height: 110px;
    width: 120px;
    border-radius: 10px;
}
.group-of-img{
    display: flex;
    width: auto;
    justify-content: center;
    place-items: center;
    flex-wrap: wrap;
}
#img-btn{
    margin: 0 2em;
    box-shadow: 0 2px 5px rgb(177, 177, 177);
    border-radius: 10px;
    height: 110px;
    width: 110px;
    border: none;
    margin-bottom: 3em;
    margin-top: 3em;
}
#img-btn:hover{
    transform: scale(1.1);
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}
/* Cards Section */
.card > img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-sec{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card-sec >.card{
    width: 300px;
    height: 420px;
    box-shadow: 0 2px 5px rgb(177, 177, 177);
    border-radius: 10px;
    margin-bottom: 2em;
    margin-top: 2em;
}
.card-sec >.card:hover{
    transform: scale(1.1);
    transition: all 1s ease-in-out;
    cursor: pointer;
}
#offer-title{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 2em;
    color: rgb(31, 184, 0);
}
.card > h3 {
    text-align: center;
}

.item-flex{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}
.card > button{
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: rgb(31, 184, 0);
    cursor: pointer;
    color: #fff;
    place-items: center;
    margin: 2em 3.5em;
}
.card > button:hover{
    background-color: rgb(20, 119, 0);
    cursor: pointer;
    transition: all 0.30s ease;
}
#Quantity-number{
    width: 100px;
    height: 20px;
    border: 1px solid;
    border-radius: 3px;
    text-align: center;
}
#food-item{
    padding-top: 1em;
}

/* Whole card  */
.whole-items > .whole-title {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 1.5em;
    color: rgb(31, 184, 0);
}

.whole-cards-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.whole-card{
    width: 400px;
    height: 450px;
    box-shadow: 0 2px 5px rgb(177, 177, 177);
    border-radius: 10px;
    margin-top: 3em;
    margin-bottom: 3em;
}
.whole-card:hover{
    transform: scale(1.1);
    transition: all 1s ease-in-out;
    cursor: pointer;
}

#whole-img {
    border-radius: 10px;
}
#star-i{
    color: gold;
}
#star-i-none{
    color: rgb(119, 119, 119);
}
#whole-name-item{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.star-check{
    display: flex;
    justify-content: space-around;
}
#whole-order-btn{
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: rgb(31, 184, 0);
    cursor: pointer;
    color: #fff;
    place-items: center;
    margin: 2em 7.5em;
}
#whole-order-btn:hover{
    background-color: rgb(20, 119, 0);
    cursor: pointer;
    transition: all 0.30s ease;
}

/* Footer */
.footer-sec{
    display: flex;
    background-color: rgb(20, 119, 0);
    height: 20vh;
    place-items: center;
    justify-content: space-around;
    color: #fff;
    margin-top: 6em;
}
.footer-links{
    text-align: center;
}
.footer-links > a{
    color: #fff;
}


/* Responsive  */
@media (max-width: 576px){
    .header-res > img{
        width: 350px;
    }
    .form-section > form > input {
        width: 250px;
    }
    .navigation-menu{
     display: none;
    }
}
@media (max-width:425px) {
    .header-res > img{
        width: 350px;
    }
    .whole-card , .whole-card > img{
        width: 300px;
    }

    .whole-title > h2{
        font-size: 1em;
    }
    #whole-order-btn {
            margin: 2em 4em;
    }
    .form-section > form > input {
        width: 200px;
    }
    .navigation-menu{
     display: none;
    }
    .header-background {
        text-align: center;
    }
}

@media (max-width:320px){
    .header-res > img{
        width: 250px;
    }
    .whole-card , .whole-card > img{
        width: 250px;
    }

    #whole-order-btn {
            margin: 2em 2em;
    }
    
    .card > img {
        width: 250px;
    }

    .card-sec >.card{
    width: 250px;
    height: 400px;
    box-shadow: 0 2px 5px rgb(177, 177, 177);
    border-radius: 10px;
    margin-bottom: 2em;
    margin-top: 2em;
}
    .card > button {
        margin: 2em 2em;
    }
    .item-flex {
        font-size: 0.8em;
    }
}