*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial';
}
main > .main-sec{
    display: flex;
    align-items: center;
    place-items: center;

}
.card{
    display: flex;
    place-items: center;
    width: 1100px;
    height: 500px;
    box-shadow: 0 2px 5px rgb(177, 177, 177);
    border-radius: 10px;
}
#img {
    margin-top: 0.3em;
    border-radius: 10px;
}
.title{
    width: 500px;
    margin-left: 3em;
}